@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #cc6d2e;
    color: black;
}


nav a {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;

}

nav {
    color: black;
}


.navbar-toggler {

    border: none;
}

.nav-link {
    color: black
}
.fa-facebook{
color:#4267B2;
}
.fa-instagram{
    color:#833AB4;

}
.fa-youtube-square{
    color:#FF0000;
    


}
.fa-twitter-square{
color:#1DA1F2;

}

/*placeholder---rmove when start page--*/
.image {
    height: 700px;
}
/*main-----*/

h2 {

    padding-top:100px;
    padding-bottom:5px;
    font-family: "Oswald",sans-serif;
}
 
.btn{
    background-color: #cc6d2e;
    border: black;
    font-weight: 700;
    color: black;
}


/*footer------*/
footer {
    background-color: #cc6d2e;
    width: 100%;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 2rem;

}

footer i {
    color: black;
    font-size: 20px;
}