@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #cc6d2e;
    color: black;
    font-size: x-large;
}


nav a {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 20px;

}

.navbar-brand {
    font-size: x-large;
}

nav {
    color: black;
}


.navbar-toggler {

    border: none;
}

.nav-link {
    color: black
}

.hero {
    padding-bottom: 20px;
}

h2 {

    padding-top: 100px;
    padding-bottom: 5px;
    font-family: "Oswald", sans-serif;
}

h3 {
    font-family: "Oswald", sans-serif;
}

.about-birmingham {
    font-family: "Exo", sans-serif;
    font-size: 17px;
}


.btn {
    background-color: #cc6d2e;
    border: black;
    font-weight: 700;
    color: black;
}

.bully-pic {
    max-height: 140px;
    max-width: 100;
    border-radius: 25px;
    font-size: 17px;
}

.about-birmingham {
    font-family: "Exo", sans-serif;
    text-align: justify;

}

.bully-button {
    margin-bottom: 10px;
}


.logo {
    margin-top: 200px;
    padding-right: 50px;
    height: 200px;
    width: 400px;
    color: aliceblue;
    font-size: 50px;

}



/*footer------*/
footer {
    background-color: #cc6d2e;
    width: 100%;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 2rem;

}

footer i {
    color: black;
    font-size: 25px
}